* {
    margin: 0;
    padding: 0;
    outline: 0;
}
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    width: 100%;
    min-width: 320px;
    height: 100%;
    font-family: Shadows, sans-serif;
}
img {
    max-width: none;
}
a {
    text-decoration: none;
    cursor: pointer;
}

/* Fonts */
@font-face {
    font-family: 'Shadows';
    font-style: normal;
    font-weight: 500;
    src: local('Shadows Into Light Regular'),
    local('Shadows-Into-Light-Regular'),
    url('../fonts/Shadows/ShadowsIntoLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/material-icons/MaterialIcons-Regular.eot');
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('../fonts/material-icons/MaterialIcons-Regular.woff2') format('woff2'),
    url('../fonts/material-icons/MaterialIcons-Regular.woff') format('woff'),
    url('../fonts/material-icons/MaterialIcons-Regular.ttf') format('truetype');
}
.material-icons {
    font-family: 'Material Icons', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#37474F), to(#2F2727));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.game-container {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.start-game {
    width: 40%;
    height: 100%;
    position: absolute;
    left: 30%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.start-game .logo {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18pt;
    color: #ffffff;
}
.start-game .logo h1 { color: #FFFFFF; }
.start-game .field {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FFFFFF;
    text-transform: uppercase;
}
.start-game .field input {
    height: 30px;
    width: 70%;
    font-size: 12pt;
}
.start-game .action {
    position: absolute;
    bottom: 28%;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.start-game .action .btn {
    width: 70%;
    height: 35px;
    border: 0;
    cursor: pointer;
    color: #ffffff;
    background-color: #29B6F6;
    border-radius: 2px;
}

.main-game {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-game .scoreboard {
    width: 100%;
    height: 15%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-game .scoreboard .result {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
    color: #ffffff;
}
.main-game .game-field  {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-collapse: collapse;
}
.main-game .game-field tbody {
    display: table-row-group;
    vertical-align: middle;
}
.main-game .game-field tr:nth-child(2) {
    border-top: 5px solid #29B6F6;
    border-bottom: 5px solid #29B6F6;
}
.main-game .game-field tr td:nth-child(2) {
    border-left: 5px solid #29B6F6;
    border-right: 5px solid #29B6F6;
}
.main-game .game-field tr td {
    width: 110px;
    height: 110px;
    position: relative;
    text-align: center;
    cursor: pointer;
    margin: 0;
    padding: 10px;
}
.main-game .game-field tr td svg{
    max-height: 100%;
}
.main-game .game-field tr td svg.circle circle{
    stroke-dasharray: 125.66370614359172;
    animation: circleAnimate 0.225s ease-in-out forwards;
}
.main-game .game-field tr td svg.circle {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}
.main-game .game-field tr td svg.cross {
    -webkit-transform: rotate(360deg) scaleY(-1);
    transform: rotate(360deg) scaleY(-1);
}
.main-game .game-field tr td svg.cross .line1 {
    stroke-dasharray: 56.56854248046875;
    animation: crossAnimate 0.225s ease-in-out forwards;
}
.main-game .game-field tr td svg.cross .line2 {
    stroke-dasharray: 56.56854248046875;
    animation: crossAnimate 0.100s ease-in-out forwards;
}
@keyframes crossAnimate {
    from {
        stroke-dashoffset: 56.56854248046875;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes circleAnimate  {
    from {
        stroke-dashoffset: 125.66370614359172;
    }
    to {
        stroke-dashoffset: 0;
    }
    
}
